@model IEnumerable<RestApp.Web.Models.Tables.TableModel>
@{
    Layout = "~/Views/Shared/_LayoutForAdministration.cshtml";
    ViewBag.Title = T("View.Table.List").Text; ;
    int num = 1;
}

<div class="span12">
    <div class="btn-toolbar">
        <button id="btnAdd" class="btn btn-mini"><i class="icon-plus"></i> New</button>
    </div>
    <div class="widget widget-table action-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>A Table Example</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th># </th>
                        <th>Number</th>
                        <th>Seat</th>
                        <th>Enabled</th>
                        <th class="td-actions"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @num
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Enabled)
                            </td>
                            <td class="td-actions">
                                <button id="btnEdit_@item.Id" class="btn btn-small btnEdit" value="@item.Id"><i class="btn-icon-only  icon-edit"></i></button>
                                <button onclick = "javascript:confirmDelete('@item.Id.ToString()', '@item.Number', '')" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"></i></button>
                            </td>
                        </tr>
                        num++;
                    }
                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>
</div>

@Html.Partial("_DeleteConfimation")

@Html.Partial("_CreateAndEditModal")