<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/basic")
    @Styles.Render("~/Content/shortcuts")

    @Scripts.Render("~/bundles/basic")
    @Scripts.Render("~/bundles/jqGrid")

    @RenderSection("scripts", required: false)
</head>
<body>
        @Html.Partial("_NavBar")

        @Html.Partial("_subNavBar")

        
        
        @if (Request.IsAuthenticated)
        {
            
        }
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        @RenderSection("featured", required: false)
                        @Html.Partial("_Notifications")
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    
    @Html.Partial("_extra")

        @Html.Partial("_footer")
</body>
</html>
