@model RestApp.Web.Models.Users.ChangePasswordAndPermissionModel

@{
    ViewBag.Title = T("View.User.ChangePasswordAndPermission");
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-inverse btn-mini"><i class="icon-arrow-left icon-white"></i> @T("View.Common.BackToList").Text</a> 
</div>
@using (Html.BeginForm("ChangePasswordAndPermission", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
   @Html.ValidationSummary(true)
<div class="well">
<legend>@T("View.User.Change"): <b>@Model.Name</b></legend>
    @Html.HiddenFor(model => model.Id)
    <div class="control-group">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-error" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-error" })
        </div>
    </div>
     <div class="control-group">
        @Html.Label("Roles", new { @class = "control-label" })
        @foreach (var role in Model.RolesList)
        {            
            <div class="controls">
                <label class="checkbox inline">
                    <input type="checkbox" name="Roles" value="@role.Id" @(role.Checked ? "checked=\"checked\"" : "")/>@role.Name
                </label>
            </div>
        }
        </div>	
    <div class="controls">
        <div>
            <input type="submit" class="btn btn-primary" value="@T("View.Common.Save")" />
        </div>
    </div>
</div>
<p>
    <small style="color: Highlight">@T("View.Common.ObligatoryProperty").Text</small>
</p>
}
<div>
    <a href="@Url.Action("Index")" class="btn btn-inverse btn-mini"><i class="icon-arrow-left icon-white"></i> @T("View.Common.BackToList").Text</a> 
</div>