<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/basic")
    @Styles.Render("~/Content/font")

    @Scripts.Render("~/bundles/basic")
    @Scripts.Render("~/bundles/basicExtras")

    @RenderSection("scripts", required: false)
</head>
<body>    
    <div class="container">
        @RenderSection("featured", required: false)
        @Html.Partial("_Notifications")
        <div class="row">
            <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
    
        </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Group RestApp.</p>
      </div>
    </div>
</body>
</html>


<style>
    /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


</style>